
<%= form_for([ :admin,  @admin_client], html: { class: "form-horizontal", role: "form" }) do |f| %>

  <% if @admin_client.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">

      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">
          Fechar
        </span>
      </button>

      <h4><%= @admin_client.errors.count %> erro(s) ao salvar:</h4>

      <ul>
      <% @admin_client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>  
      <% end %>
      </ul>

    </div>
    
  <% end %>


  <div class="form-group">

    <div class="col-sm-4 col-xs-12" >

      <%= f.label :nome %>

      <div>
        <%= f.text_field :nome, class: "form-control", :required => true %>
      </div> 

    </div>

    <div class="col-sm-4 col-xs-12" >

      <%= f.label :telefone %>
     
      <div>
        <%= f.text_field :telefone, class: "form-control", :required => true %>
      </div>  

    </div>

  </div>


 <div class="form-group" >
      
    <fieldset>

      <legend class="col-xs-12" >
        Preços para cliente
      </legend>

  
      <% if @admin_client.client_product.count == 0 %>

        <% @admin_products.each do |product| %>

              <div class="col-xs-12 col-sm-4">

                <label for="client_nome">
                  <%= product.nome %>  
                </label>

                <div>
                  <input 
                    class="form-control money col-xs-12"     
                    required="required"   
                    value="<%= number_with_precision( product.preco_base, :precision => 2) %>" 
                    name="product[<%= product.id %>]" >  
                </div> 

              </div>

        <% end %>

      <% end %>


      <% if @admin_client.client_product.count > 0 %>

        <% @admin_client.client_product.each do |product| %>

              <div class="col-xs-12 col-sm-4">

                <label for="client_nome">
                  <%= product.product.nome %>  
                </label>

                <div>
                  <input 
                    class="form-control money col-xs-12"   
                    required="required"   
                    value="<%= number_with_precision( product.preco, :precision => 2) %>" 
                    name="product[<%= product.product.id %>]" >  
                </div> 

              </div>

        <% end %>

      <% end %>



    </fieldset>

  </div>


  <div class="form-groupp hide ">

    <div class="col-sm-6">

      <%= f.label :latitude %>

      <div>
        <%= f.text_field :latitude, class: "form-control", disabled: "disabled" %>
      </div>

    </div>

    <div class="col-sm-6">

      <%= f.label :longitude %> 
      <div>
        <%= f.text_field :longitude, class: "form-control", disabled: "disabled" %>
      </div>

    </div>

  </div>


  <div class="col-xs-12" >
  </div>  


  <div class="form-group">
    

    <div class="col-sm-6">

      <%= f.label :endereco %>

      <div>
        <%= f.text_area :endereco, class: "form-control", :required => true %>
      </div> 

      <div style="display: none" id="client_sugest_container" >

        <h6>Sugestão</h6>

        <div id="client_sugest" >    
          
        </div>  


        <div >  
          <a href="javascript: $('#client_endereco').val(  $('#client_sugest').html() ); ">
            Aceitar sugestão
          </a>
        </div>      
        
      </div>

      
    </div>


    <div class="col-sm-6">

      <%= f.label :obs %>

      <div>
        <%= f.text_area :obs, class: "form-control" %>
      </div>

    </div>


  </div>



  <div class="form-group">

    <div class=col-sm-12">

      <%= f.submit "Cadastrar cliente", class: "btn btn-primary col-xs-12" %>

    </div>

  </div>


<% end %>


<div class="col-sm-12" > 
    <div style="width: 100%; height: 480px" id="mapContainer"></div>
</div>
