<div class="page-header">

  <a class="btn btn-default" href="javascript: window.history.back();">
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  </a>

  <h1>Editar cliente</h1>
  
</div>

<%= render 'form' %>
