<div class="page-header">
  <%= link_to new_admin_client_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
  <% end %>

  <h1>
    Clientes cadastrados
  </h1> 

  <%= render '/admin/general/search_form' %> 


</div>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th class="col-xs-1">Código</th>
            <th class="col-xs-4" >Nome</th>
            <th class="hidden-xs" >Telefone</th>
            <th class="hidden-xs col-xs-4">Endereco</th>

            <th class="col-xs-1" ></th>
      </tr>
    </thead>

    <tbody>

      <% @admin_clients.each do |admin_client| %>

        <tr>



            <td><%= admin_client.id %></td>
            <td><%= admin_client.nome %></td>
            <td class="hidden-xs" ><%= admin_client.telefone %></td>
            <td class="hidden-xs col-xs-4"><%= admin_client.endereco %></td>

            <td class="text-center" >
                <% link_to '', admin_client_path(admin_client), class: "btn btn-default glyphicon glyphicon glyphicon-ok" %>
                <%= link_to '', edit_admin_client_path(admin_client), class: "btn btn-default glyphicon glyphicon-cog" %>
                <% link_to '', [:admin, admin_client], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger glyphicon glyphicon-remove"%>
            </td>

        </tr>


      <% end %>


    </tbody>
  </table>
</div>


<div class="col-xs-12" >
    <%= will_paginate @admin_clients, 
        :previous_label => t("← Anterior"), 
        :next_label => t("Próximo →"),
        renderer: BootstrapPagination::Rails %>
</div>
