<div class="page-header">
  <%= link_to admin_clients_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>
  	Cadastrar cliente
  </h1>
</div>

<%= render 'form' %>
