<div class="page-header">

  <a class="btn btn-default" href="javascript: window.history.back();">
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  </a>
  
  <h1>
    Cliente
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @admin_client.nome %></dd>

  <dt>Telefone:</dt>
  <dd><%= @admin_client.telefone %></dd>


  <dt>Endereco:</dt>
  <dd><%= @admin_client.endereco %></dd>

  <dt>Obs:</dt>
  <dd><%= @admin_client.obs %></dd>   

</dl>


<div class="hidden" style="width: 100%; height: 480px" id="mapContainer"></div>


<script>

    // Initialize the platform object:
    var platform = new H.service.Platform({
        'app_id': 'xLCFXVMRONHZDZ1BCcds',
        'app_code': 'et-o6Pb5bNjJxObiALOTpA'
    });

    // Obtain the default map types from the platform object
    var maptypes = platform.createDefaultLayers();

    // Instantiate (and display) a map object:
    var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.normal.map,   
        {
            zoom: 16,
            center: { 
                lng: <%= @admin_client.longitude %>, 
                lat: <%= @admin_client.latitude %>
            }
        }
    );




    // Create an icon, an object holding the latitude and longitude, and a marker:

      coords = {   
                lng: <%= @admin_client.longitude %>, 
                lat: <%= @admin_client.latitude %>
            },


      marker = new H.map.Marker(coords);  

    // Add the marker to the map and center the map at the location of the marker:
    map.addObject(marker);


</script>
