<%= form_for([ :admin,  @admin_assistant], html: { class: "form-horizontal", role: "form" }) do |f| %>


  <% if @admin_assistant.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@admin_assistant.errors.count, "error") %> prohibited this admin_assistant from being saved:</h4>

      <ul>
      <% @admin_assistant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
 
    <div class="col-sm-6" >  

        <%= f.label "Nome do ajudante", class: "" %>
        
        <div>
            <%= 
                f.text_field :nome,     
                class: "form-control",
                :required => true, 
                :placeholder => 'Digite o nome'
            %>
        </div>
        
    </div>

  </div>


  <div class="form-group">
 
    <div class="col-sm-6" >  

        <%= f.label "Telefone", class: "" %>
        
        <div>
            <%= 
                f.text_field :telefone,     
                class: "form-control",
                :required => true, 
                :placeholder => 'Digite o telefone'
            %>
        </div>
        
    </div>

  </div>


  <div class="form-group">
 
    <div class="col-sm-3" >  

        <%= f.label "Valor diária", class: "" %>
        
        <div>
            <%= 
                f.text_field :pagamento_diaria,     
                class: "form-control money",
                :value =>  number_with_precision( @admin_assistant.pagamento_diaria, :precision => 2 ) ,   
                :required => true, 
                :placeholder => '0.00' 
            %>
        </div>
        
    </div>

  </div>



  <div class="form-group">
 
    <div class="col-sm-3" >  

        <%= f.label "RG ou CPF", class: "" %>
        
        <div>
            <%= 
                f.text_field :doc,     
                class: "form-control ",
                :required => true, 
                :placeholder => 'Documento'  
            %>
        </div>
        
    </div>

  </div>


  <div class="form-group">
    <div class="col-xs-12">
      <%= f.submit "Salvar", class: "btn btn-primary col-xs-12" %>
    </div>
  </div>

<% end %>
