<div class="page-header">
  <%= link_to new_admin_assistant_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
  <% end %>
  <h1>
    Ajudantes
  </h1>
</div>



<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th class="col-xs-1" >Código</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Documento</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <% @admin_assistants.each do |admin_assistant| %>
      <tr>
        <td><%= admin_assistant.id %></td>
        <td><%= admin_assistant.nome %></td>
        <td><%= admin_assistant.telefone %></td>
        <td><%= cpf_rg( admin_assistant.doc ) %></td>  

        <td>  
          <%= link_to '', edit_admin_assistant_path(admin_assistant ), class: "btn btn-default glyphicon glyphicon-cog" %>
        </td>

      </tr>
      <% end %>
    </tbody>
  </table>
</div>
