<div class="page-header">
  <%= link_to admin_assistants_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_admin_assistant_path(@admin_assistant), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show admin_assistant</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @admin_assistant.nome %></dd>

  <dt>Telefone:</dt>
  <dd><%= @admin_assistant.telefone %></dd>

  <dt>Doc:</dt>
  <dd><%= @admin_assistant.doc %></dd>

</dl>
