<div class="page-header">
  <h1>
    Entregas:  
    <%= @admin_deliveries.total_entries %>
  </h1>    
</div>


<div class="col-sm-12 col-xs-12 hidden--print">

    <form action="/admin/deliveries/" method="get">

        <div class="row">


            <div class="col-xs-12 drop-margin-top">

                <div class="row">

                    <div class="col-sm-2 col-xs-6">  

                        <label for="ex1">Data Inicial:</label>

                        <input class="form-control text-center" value="<%= @data_inicial %>" name="data_inicial" type="date">   

                    </div>

                    <div class="col-sm-2 col-xs-6">

                        <label for="ex1">Data Final:</label>

                        <input class="form-control text-center" value="<%= @data_final %>" name="data_final" type="date">

                    </div> 
                    
                </div>




                <div class="row">

                    <div class="col-sm-8 col-xs-12 text-center">

                        <div class="col-xs-12"> 
                           <br>
                        </div>

                        
                        <a 
                            href="javascript: admin.setDates(
                                '<%= @general_hoje.strftime("%Y-%m-%d")  %>', 
                                '<%= @general_hoje.strftime("%Y-%m-%d")  %>')" 

                            class="col-xs-3">   
                           
                           Hoje
                        
                        </a>  

                        <a 
                            href="javascript: admin.setDates(
                                '<%= @general_semana_primeiro.strftime("%Y-%m-%d") %>', 
                                '<%= @general_semana_ultimo.strftime("%Y-%m-%d") %>')"   

                            class="col-xs-3"> 
                            
                            Semana atual
                        
                        </a>

                        <a 
                            href="javascript: admin.setDates( 
                                '<%= @general_semana_anterior_primeiro.strftime("%Y-%m-%d") %>', 
                                '<%= @general_semana_anterior_ultimo.strftime("%Y-%m-%d") %>')"   
                                
                            class="col-xs-3">   
                            
                            Semana anterior
                        
                        </a>

                        <a 
                            href="javascript: admin.setDates( 
                                '<%= @general_hoje.strftime("%Y-%m-01")  %>', 
                                '<%= @general_mes_ultimo.strftime("%Y-%m-%d") %>')" 
                            class="col-xs-3">   
                            
                            Mês atual
                        
                        </a>

                    </div>

                    <div class="col-xs-12" >
                        <br />
                    </div>

                </div>
                                

                <div class="row"> 

                    <div class="col-sm-4 col-xs-12">

                        <label for="ex1">Cliente:</label>

                        <select class="form-control" id="" name="client_id" placeholder="Código Cupom">  
                            
                            <option value="0">Todos</option>

                            <% @admin_clients.each do |admin_client| %>
                                <option

                                    value="<%= admin_client.id %>"

                                    <% if admin_client.id.to_s == params[:client_id] %>  
                                        selected
                                    <% end %>                    

                                > 

                                    <%= admin_client.nome %>     

                                </option>
                            <% end %>

                            
                        </select> 

                    </div>  


                    <div class="col-sm-4 col-xs-12">

                        <label for="ex1">Vendedor:</label>

                        <select class="form-control" id="" name="seller_id" placeholder="Código Cupom">
                            
                            <option value="0">Todos</option>

                            <% @admin_sellers.each do |admin_seller| %>
                                <option 
                                
                                    <% if admin_seller.id.to_s == params[:seller_id] %>
                                        selected
                                    <% end %>

                                    value="<%= admin_seller.id %>"
                                >       
                                    
                                    <%= admin_seller.nome %>

                                </option>
                            <% end %>
                            
                        </select> 

                    </div>  


                    <div class="col-sm-4 col-xs-12">

                        <label for="ex1">Caminhao:</label>

                        <select class="form-control" id="" name="truck_id" placeholder="Código Cupom">  
                            
                            <option value="0">Todos</option>

                            <% @admin_trucks.each do |admin_truck| %>
                                <option

                                    value="<%= admin_truck.id %>"  

                                    <% if admin_truck.id.to_s == params[:truck_id] %>  
                                        selected 
                                    <% end %>                    

                                > 

                                    <%= admin_truck.placa %>     

                                </option>
                            <% end %>

                            
                        </select> 

                    </div> 


                    
                </div>



                <div class="row">
                    
                    <div class="col-sm-4 col-xs-12">

                        <label for="ex1">Situação da venda:</label>

                        <select class="form-control" id="" name="status" placeholder="Código Cupom">
                            
                                <option

                                    value=""

                                    <% if "" == params[:status] %>  
                                        selected
                                    <% end %>                    

                                > 

                                    Todos (pagos e a receber)    

                                </option>

                                <option

                                    value="1"

                                    <% if "1" == params[:status] %>  
                                        selected
                                    <% end %>                    

                                > 

                                    Pago na hora     

                                </option>

                                <option

                                    value="0"

                                    <% if "0" == params[:status] %>  
                                        selected
                                    <% end %>                    

                                > 

                                    Pagamento pendente     

                                </option>
                            
                        </select> 

                    </div>  


                </div>


            </div>





            <div class="col-xs-12">
              <hr class="invisible" />
            </div>

            <div class="col-sm-12 col-xs-12">

                <div class="row">

                    <div class="col-sm-6 col-xs-6 drop-margin-top">
                        <button type="submit" class="btn btn-primary drop-btn col-xs-12">
                            Filtrar
                        </button>
                    </div>

                    <div class="col-sm-2 col-xs-6 drop-margin-top">
                    
                    </div>

                </div>
            </div>

            <div class="col-xs-12">
              <hr class="invisible" />
            </div>


        </div>

    </form>

</div>


<div class="col-sm-12 col-xs-12">
    <div class="">
        <h3 class="drop-margin-top text-left">
            <b>Relatório</b>
        </h3>
        <div class="table-responsive ">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Vendas(geral)</th>
                        <th>Recebido</th>
                        <th>A receber</th>    
                        <th>Despesas</th>
                        <th>Combustível</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            R$
                            <%= grana( @soma_admin_deliveries ) %>
                        </td>
                        <td>
                            R$
                            <%= grana( @soma_admin_deliveries_recebido ) %>
                        </td>
                        <td>
                            R$
                            <%= grana( @soma_admin_deliveries_pendente ) %>
                        </td>
                        <td>  
                            R$
                            <%= grana( @soma_admin_invoices ) %>
                        </td>
                        <td>
                            R$
                            <%= grana( @soma_admin_invoices_combustivel ) %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="col-sm-12 col-xs-12">
    <div class="">
        <h3 class="drop-margin-top text-left">
            <b>
                Líquido
            </b>
        </h3>
        <div class="table-responsive ">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Recebido <br />&nbsp;</th>
                        <th>Geral <br /> ( vendas - despesas )</th>
                        <th>Geral <br /> ( vendas - despesas - combust. )</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>  
                        <td>
                            R$
                            <%= number_with_precision( 
                              ( @soma_admin_deliveries_recebido - @soma_admin_invoices ), :precision => 2
                            ) %>
                        </td>
                        <td>
                            R$
                            <%= number_with_precision( 
                              ( @soma_admin_deliveries - @soma_admin_invoices ), :precision => 2
                            ) %>  
                        </td>
                        <td>
                            R$
                            <%= number_with_precision( 
                              ( @soma_admin_deliveries - @soma_admin_invoices_geral ), :precision => 2
                            ) %>  
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="col-xs-12">
    <hr class="invisible" />
</div>



<div class="table-responsive col-xs-12">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-xs-1">Código</th>
        <th>Data</th>
        <th>Status</th>
        <th>Valor</th>
        <th>Vendedor</th>
        <th>Cliente</th>
        <th>Detalhes</th>
        <th class="col-xs-2 text-center" ></th>
      </tr>
    </thead>

    <tbody>

      <% @admin_deliveries.each do |admin_delivery| %>

        <tr>

          <td><%= admin_delivery.id %></td>

            <td>
                <% if admin_delivery.status == 1 %>
                    <strong>Pago</strong>   
                <% end %>

                <% if admin_delivery.status == 0 %>
                    <strong>Pendente</strong> 
                <% end %>   
            </td>

            <td><%= admin_delivery.created_at.strftime("%d/%m/%Y - %H:%M")  %></td>
            <td><%= grana( admin_delivery.valor ) %></td>

            <td>
                <%= admin_delivery.seller.nome %> <br />
                <%= admin_delivery.truck.placa %>                    
            </td>

            <td><%= admin_delivery.client.nome %></td> 

            <td>

                <ul>
                    <% admin_delivery.product_delivery.each do |product_delivery| %>

                        <li>
                            <%= product_delivery.product.nome %> <br />
                            Vendido: <%= product_delivery.quantidade_vendido %> <br />
                            Bonificado: <%= product_delivery.quantidade_bonificado %>
                        </li>

                    <% end %>
                </ul>

                <%= admin_delivery.obs %>
                    
            </td>


          <td class="text-center" >
              <%= link_to '', admin_delivery_path(admin_delivery), class: "btn btn-default glyphicon glyphicon glyphicon-ok" %>
          
                <a 
                   class="btn btn-danger glyphicon glyphicon-remove" 
                   href="javascript: if ( confirm('Tem certeza?') ) {  
                       window.location.href = '/admin/delivery/cancel_delivery?id=<%= admin_delivery.id %>';     
                   } ">  
                    
                </a>

          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-xs-12" >
    <%= will_paginate @admin_deliveries, 
        :previous_label => t("← Anterior"), 
        :next_label => t("Próximo →"),
        renderer: BootstrapPagination::Rails %>
</div>
