<div class="page-header">

  <a class="btn btn-default" href="javascript: window.history.back();">
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  </a>

  <h1>
    Entrega: <%= @admin_delivery.id %>
  </h1>

</div>

<dl class="dl-horizontal">

  <dt>Valor:</dt>
  <dd><%= grana( @admin_delivery.valor ) %></dd>  

  <dt>Vendedor:</dt>
  <dd><%= @admin_delivery.seller.nome %></dd>

  <dt>Cliente:</dt>
  <dd><%= @admin_delivery.client.nome %></dd>

  <dt>Endereço do cliente:</dt>
  <dd><%= @admin_delivery.client.endereco %></dd>


  <dt>Detalhes:</dt>
  <dd>

    <ul>
        <% @admin_delivery.product_delivery.each do |product_delivery| %>

            <li>
                <%= product_delivery.product.nome %> <br />
                Vendido: <%= product_delivery.quantidade_vendido %> <br />
                Bonificado: <%= product_delivery.quantidade_bonificado %>
            </li>

        <% end %>
    </ul>


  </dd>

</dl>


<div style="width: 100%; height: 480px" id="mapContainer"></div>


<script>

    // Initialize the platform object:
    var platform = new H.service.Platform({
        'app_id': 'xLCFXVMRONHZDZ1BCcds',
        'app_code': 'et-o6Pb5bNjJxObiALOTpA'
    });

    // Obtain the default map types from the platform object
    var maptypes = platform.createDefaultLayers();

    // Instantiate (and display) a map object:
    var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.normal.map,   
        {
            zoom: 17,
            center: { 
                lng: <%= @admin_delivery.longitude %>, 
                lat: <%= @admin_delivery.latitude %>
            }
        }
    );


    var svgMarkup = '<svg width="24" height="24" ' +
  'xmlns="http://www.w3.org/2000/svg">' +
  '<rect stroke="white" fill="#1b468d" x="1" y="1" width="22" ' +
  'height="22" /><text x="12" y="18" font-size="12pt" ' +
  'font-family="Arial" font-weight="bold" text-anchor="middle" ' +
  'fill="white">H</text></svg>';


    var defaultLayers = platform.createDefaultLayers();


    // Create an icon, an object holding the latitude and longitude, and a marker:
    var icon = new H.map.Icon(svgMarkup),
      coords = {   
                lng: <%= @admin_delivery.longitude %>, 
                lat: <%= @admin_delivery.latitude %>
            },
      marker = new H.map.Marker(coords);

    // Add the marker to the map and center the map at the location of the marker:
    map.addObject(marker);

    var ui = H.ui.UI.createDefault(map, defaultLayers);



</script>
