<table class="table table--truck--details text-center table-borderless" >    
	

	<thead> 

		<tr>
			<th class="text-center" >
				Validade
			</th>

			<th class="text-center" >
				Quantidade 
			</th>
		</tr>  

    </thead>


    <% truck.bottle.each do |bottle| %>  

		<tr>
			<td>
				<%= bottle.ano %>
			</td>

			<td>
				<a  href="#" data-toggle="modal" data-target="#modalBottle--<%= bottle.id %>" >
					<%= bottle.quantidade %>  
				</a>
			</td>
		</tr>

        <%=  render 'modal_bottle',  :bottle => bottle   %>  


    <% end %>


	<tr>
		<td>
			<strong>Total</strong>
		</td>

		<td>
			<strong>
				<%= truck.bottle.sum(:quantidade) %>
			</strong>
		</td>
	</tr>



</table>  