<%= form_for([:admin, @admin_truck], html: { class: "form-horizontal", role: "form" }) do |f| %>


    <% if @admin_truck.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span></button>
            <h4><%= pluralize(@admin_truck.errors.count, "error") %> erros ao salvar:</h4>
            <ul>
                <% @admin_truck.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <div class="form-group">

        <div class="col-sm-4" >
            <%= f.label :placa, class: "" %>
            <div class="">
                <%= f.text_field :placa, class: "form-control" %>
            </div>        
        </div>

    </div>

    <div class="form-group">

        <div class="col-sm-12" >
                    
            <%= f.label :obs, class: "" %>
            <div class="">
                <%= f.text_area :obs, class: "form-control" %>
            </div>

        </div>    

    </div>    


    <div class="form-group">
        <div class="">
            <%= f.submit "Salvar caminhão", class: "btn btn-primary col-xs-12" %>
        </div>
    </div>


<% end %>