<!---->
<div id="modalBottle--<%= bottle.id %>" class="modal fade" role="dialog">

	<form  method="post"  action="/admin/trucks/set_bottle"  >

	    <div class="modal-dialog">  

	        <div class="modal-content">

	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal">&times;</button>

	                <h4 class="modal-title" id="modalProductNome" >
	                    Adicionar garrafão ao caminhão
	                </h4>

	            </div>

	            <div class="modal-body">
	                

	                <div class="form-group">

	                    <div>
	                        <label class="" for="truck_placa">
	                            Quantidade a adicionar
	                        </label>
	                        <div class="text-center">


	                            <input 
	                                class="form-control" 
	                                name="modalBottleId" 
	                                type="hidden" 
	                                id="modalBottleId"
	                                required="required"                                
	                                value="<%= bottle.id %>" >    

	                            <input 
	                                class="form-control" 
	                                class="text-center"   
	                                value="0" 
	                                type="number" 
	                                name="modalBottleQtd" 
	                                required="required"   
	                                id="modalBottleQtd"  >


	                        </div>        
	                    </div>

	                </div>


	            </div>
	            
	            <div class="modal-footer">
	                <button

	                    type="submit" class="btn btn-default" >

	                    Adicinar ao caminhão  

	                </button>
	            </div>

	        </div>

	    </div>


    </form>

</div>