<table class="table table--truck--details table-borderless" >    
	

	<thead> 

		<tr>
			<th class="" >
				Produto
			</th>

			<th class="" >
				Pegos na fonte
			</th>

			<th class="" >
				Vendido
			</th>  
 

			<th class="" >
				No caminhão
			</th>


		</tr>  

    </thead>


    <% truck.truck_product.each do |truck_product| %>  

		<tr>
			<td>
				<%= truck_product.product.nome %>
			</td>

			<td>
				Sem:
				<%=  truck.fonte_week( truck_product.product_id) %>    
				<br />
				Dia: &nbsp;
				<%=  truck.fonte_day( truck_product.product_id) %>    
			</td>

   
			<td>
				Sem: 
				<%=  truck.sell_week( truck_product.product_id) %>    
				<br />    
				Dia: &nbsp;
				<%=  truck.sell_day( truck_product.product_id) %>    
			</td>

			<td>
				<a  href="#" data-toggle="modal" data-target="#modalTruckProduct--<%= truck_product.id %>" >
					<%= truck_product.quantidade_caminhao %>    
				</a>
			</td>			

		</tr>


        <%= render 'modal_truck_product',  :truck_product => truck_product   %>  


		<tr>
			<td class="col-xs-12" colspan="6"  >
				<hr />
			</td>
		</tr>


    <% end %>



</table>  