<div class="page-header">
    <%= link_to new_admin_truck_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <% end %>
    <h1>
        Caminhões cadastrados
    </h1>
</div>



<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Garrafão</th>
                <th>Estoque</th>                
            </tr>
        </thead>  
        <tbody>
            <% @admin_trucks.each do |admin_truck| %>
                <tr>

                    <td>

                        <% if admin_truck.location.count == 0 %>

                            <a href="javascript: alert('Lozalização ainda não disponível')">  
                                <%= admin_truck.placa %>
                            </a>  

                        <% else %>

                            <a href="/admin/trucks/<%= admin_truck.id %>">
                                <%= admin_truck.placa %>      
                            </a>  

                        <% end %>



                        <hr />  


                        <a 
                            href="/admin/truck/clear_truck?truck_id=<%= admin_truck.id %>" 
                            onclick="return confirm('Tem certeza?')" >
                            Limpar caminhão  
                        </a> 



                    </td>


                    <td>

                        <%= render 'bottle_details',  :truck => admin_truck  %>  

                    </td>

                    <td>

                        <%= render 'truck_details',  :truck => admin_truck  %>  

                    </td>

                </tr>
            <% end %>
        </tbody>
    </table>
</div>