<div class="page-header">


  <h1>
    Localzação: <%= @admin_truck.placa %>
  </h1>

</div>

<dl class="dl-horizontal">

  <dt>Placa:</dt>
  <dd><%= @admin_truck.placa %></dd>  

</dl>


<div style="width: 100%; height: 600px" id="mapContainer"></div>


<script>

    // Initialize the platform object:
    var platform = new H.service.Platform({
        'app_id': 'xLCFXVMRONHZDZ1BCcds',
        'app_code': 'et-o6Pb5bNjJxObiALOTpA'
    });

    // Obtain the default map types from the platform object
    var maptypes = platform.createDefaultLayers();

    // Instantiate (and display) a map object:
    var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.normal.map,   
        {
            zoom: 15,  
            center: { 
                lng: <%= @admin_truck.location.last.longitude %>, 
                lat: <%= @admin_truck.location.last.latitude %>
            }
        }
    );



    var defaultLayers = platform.createDefaultLayers();


    // Create an icon, an object holding the latitude and longitude, and a marker:
    var icon = coords = {   
                lng: <%= @admin_truck.location.last.longitude %>, 
                lat: <%= @admin_truck.location.last.latitude %>  
            },
      marker = new H.map.Marker(coords);

    // Add the marker to the map and center the map at the location of the marker:
    map.addObject(marker);

    var ui = H.ui.UI.createDefault(map, defaultLayers);

  

</script>
