<!DOCTYPE html>

<html>


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>
            <%= @general_site_name %>  
        </title>

        <%= stylesheet_link_tag    'application', media: 'all' %>

        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1549984893" />
        <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

        <%= javascript_include_tag 'application' %>  

        <%= csrf_meta_tags %>

    </head>


    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <%= link_to @general_site_name , "#", class: "navbar-brand" %>
                </div>

                <div id="navbar" class="collapse navbar-collapse">

                    <ul class="nav navbar-nav nav--main">

                        <% if @count_products > 0 %>                            
                            <li class="">
                                <a href="/admin/clients">Clentes</a>
                            </li>
                        <% end %>                            

                        <li class=""><a href="/admin/sellers">Vendedores</a></li>

                        <li class=""><a href="/admin/assistants">Ajudantes</a></li>

                        <li class=""><a href="/admin/points">Ponto</a></li> 

                        <% if @count_brands > 0 %>                            
                            <li class=""><a href="/admin/products">Produtos</a></li>
                        <% end %>                            

                        <li class=""><a href="/admin/trucks">Caminhões</a></li>

                        <li class=""><a href="/admin/buys">Compras</a></li>   

                        <li class=""><a href="/admin/deliveries">Vendas</a></li>

                        <li class=""><a href="/admin/invoices">Despesas</a></li>

                        <li class=""><a href="/admin/reports">Relatório</a></li>  

                    </ul>

                    <p class="navbar-text pull-right">
                        <% if user_signed_in? %>                         
                            <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link navbar--link--exit'  %>
                        <% else %>
                            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                        <% end %>
                    </p>

                </div>
            </div>
        </nav>
        <!--  -->
        <div class="container">


            <% flash.each do |name, msg| %>
            
                <%= content_tag :div, 
                    class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
            
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Fechar</span>
                    </button>

                    <%= msg %>

                <% end %>

            <% end %>

            <div class="container--<%= controller_name %>" >
                <%= yield %>              
            </div>


        </div>


    </body>


</html>