<%= form_for([ :admin,  @admin_seller], html: { class: "form-horizontal", role: "form" }) do |f| %>

    <% if @admin_seller.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4><%= pluralize(@admin_seller.errors.count, "error") %> erros ao salvar:</h4>
            <ul>
                <% @admin_seller.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>  
            </ul>
        </div>
    <% end %>

    <div class="form-group">

        <div class="col-sm-8" >

            <%= f.label :nome, class: "" %>

            <div>
                <%= f.text_field :nome, class: "form-control", :required => true %>
            </div>
            
        </div>


        <div class="col-sm-4" >  

            <%= f.label :telefone, class: "" %>

            <div>
                <%= f.text_field :telefone, class: "form-control", :required => true %>
            </div>

        </div>

    </div>



    <div class="form-group">

        <div class="col-sm-6" >

            <%= f.label :usuario, class: "" %>

            <div>
                <%= f.text_field :usuario, class: "form-control", :required => true %>
            </div>
            
        </div>


        <div class="col-sm-6" >  

            <%= f.label :senha, class: "" %>

            <div>
                <%= f.text_field :senha, class: "form-control", :required => true %>
            </div>

        </div>

    </div>


    <div class="form-group">

        <div class="col-sm-4" >

            <%= f.label "RG ou CPF", class: "" %>

            <div class="">
                <%= f.text_field :documento, class: "form-control", :required => true %>
            </div>
            
        </div>

    </div>



  <div class="form-group">      
 
    <div class="col-sm-4" >     

        <label for="ex1">        
            Tipo de vendedor        
        </label>

        <select class="form-control" id="" name="seller[tipo_vendedor]" placeholder="Código Cupom">
            
            <option value="2">
                Diária    
            </option>

            <option value="1">   
                Fixo (salário)  
            </option>    

            <option value="3">    
                Autônomo  
            </option>
            
        </select> 
        
    </div>

  </div>


  
  <div class="form-group">  
    
    <div class="col-sm-4" >  

        <%= f.label "Valor pagamento", class: "" %>
        
        <div>
            <%= 
                f.text_field :pagamento_diaria,         
                class: "form-control money",
                :value =>  number_with_precision( @admin_seller.pagamento_diaria, :precision => 2 ) ,   
                :required => true, 
                :placeholder => '0.00'   
            %>
        </div>
        
    </div>

  </div>

    <div class="form-group hidden">
        <%= f.label :ativo, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <%= f.number_field :ativo, class: "form-control" %>
        </div>
    </div>

    <div class="form-group hidden">
        <%= f.label :imei, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <%= f.text_field :imei, class: "form-control" %>
        </div>
    </div>


    <div class="form-group">

        <div class="col-xs-12" >  
            
            <%= f.label :obs, class: "" %>

            <div>
                <%= f.text_area :obs, class: "form-control" %>   
            </div>

        </div>

    </div>


    <div class="form-group">
        <div class="">
            <%= f.submit "Salvar", class: "btn btn-primary col-xs-12" %>
        </div>
    </div>


<% end %>