<div class="page-header">
  <%= link_to new_admin_seller_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
  <% end %>
  <h1>Vendedores cadastrados</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th class="col-xs-1">Código</th>
            <th>Nome</th>
            <th class="hidden-xs" >Telefone</th>
            <th class="hidden-xs">Documento</th>
            <th class="hidden-xs">Usando caminhão</th>  
            <th class="col-xs-2" ></th>
      </tr>
    </thead>

    <tbody>
      <% @admin_sellers.each do |admin_seller| %>
          <tr>
            <td><%= admin_seller.id %></td>
            <td><%= admin_seller.nome %></td>
            <td class="hidden-xs"><%= admin_seller.telefone %></td>
            <td class="hidden-xs"><%= admin_seller.documento %></td>
            <td class="hidden-xs">
              <% if admin_seller.truck.present? %> 
                <%= admin_seller.truck.placa %>   
              <% end %> 
            </td>

            <td class="text-center" >
                <% link_to '', admin_seller_path(admin_seller), class: "btn btn-default glyphicon glyphicon glyphicon-ok" %>
                <%= link_to '', edit_admin_seller_path(admin_seller), class: "btn btn-default glyphicon glyphicon-cog" %>
                <%  link_to '', 
                    [:admin, admin_seller], 
                    method: :delete, data: { confirm: 'Tem certeza?' },   
                    class: "btn btn-danger glyphicon glyphicon-remove"%>
            </td>

          </tr>
      <% end %>
    </tbody>
  </table>
</div>
