<div class="page-header">
  <%= link_to admin_sellers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_admin_seller_path(@admin_seller), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show admin_seller</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @admin_seller.nome %></dd>

  <dt>Telefone:</dt>
  <dd><%= @admin_seller.telefone %></dd>

  <dt>Documento:</dt>
  <dd><%= @admin_seller.documento %></dd>

  <dt>Obs:</dt>
  <dd><%= @admin_seller.obs %></dd>

  <dt>Ativo:</dt>
  <dd><%= @admin_seller.ativo %></dd>

  <dt>Imei:</dt>
  <dd><%= @admin_seller.imei %></dd>

</dl>
