<div class="page-header">
  <%= link_to admin_invoices_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @admin_invoice, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing admin_invoice</h1>
</div>

<%= render 'form' %>
