<div class="page-header">
  <h1>  
    Despesas:  
  </h1>    
</div>


<div class="col-sm-12 col-xs-12 hidden--print">

    <form action="/admin/invoices/" method="get">

        <div class="row">  


            <div class="col-xs-12 drop-margin-top">

                <div class="row">

                    <div class="col-sm-2 col-xs-6">  

                        <label for="ex1">Data Inicial:</label>

                        <input class="form-control text-center" value="<%= @data_inicial %>" name="data_inicial" type="date">   

                    </div>

                    <div class="col-sm-2 col-xs-6">

                        <label for="ex1">Data Final:</label>

                        <input class="form-control text-center" value="<%= @data_final %>" name="data_final" type="date">

                    </div>
                    


                    <div class="col-sm-4 col-xs-12">

                        <label for="ex1">Vendedor:</label>

                        <select class="form-control" id="" name="seller_id" placeholder="Código Cupom">
                            
                            <option value="0">Todos</option>

                            <% @admin_sellers.each do |admin_seller| %>
                                <option 
                                
                                    <% if admin_seller.id.to_s == params[:seller_id] %>
                                        selected
                                    <% end %>  

                                    value="<%= admin_seller.id %>"
                                >       
                                    
                                    <%= admin_seller.nome %>

                                </option>
                            <% end %>
                            
                        </select> 

                    </div>  


                    <div class="col-sm-4 col-xs-12">

                        <label for="ex1">Tipo:</label>

                        <select class="form-control"  name="tipo_despesa" placeholder="Código Cupom">
                            
                            <option value="">Todos</option>

                            <option 

                            <% if 'Combustivel' == params[:tipo_despesa] %>
                                selected
                            <% end %> 
                            value="Combustivel">Combustivel</option>

                            <option 
                            <% if 'Outros' == params[:tipo_despesa] %>
                                selected
                            <% end %> 
                            value="Outros">Despesas gerais</option>
                            
                        </select> 

                    </div>  


                    
                </div>

                <div class="row">

                    <div class="col-sm-8 col-xs-12 text-center">

                        <div class="col-xs-12"> 
                           <br>
                        </div>

                        
                        <a 
                            href="javascript: admin.setDates(
                                '<%= @general_hoje.strftime("%Y-%m-%d")  %>', 
                                '<%= @general_hoje.strftime("%Y-%m-%d")  %>')" 

                            class="col-xs-3">   
                           
                           Hoje
                        
                        </a>  

                        <a 
                            href="javascript: admin.setDates(
                                '<%= @general_semana_primeiro.strftime("%Y-%m-%d") %>', 
                                '<%= @general_semana_ultimo.strftime("%Y-%m-%d") %>')"   

                            class="col-xs-3"> 
                            
                            Semana atual
                        
                        </a>

                        <a 
                            href="javascript: admin.setDates( 
                                '<%= @general_semana_anterior_primeiro.strftime("%Y-%m-%d") %>', 
                                '<%= @general_semana_anterior_ultimo.strftime("%Y-%m-%d") %>')"   
                                
                            class="col-xs-3">   
                            
                            Semana anterior
                        
                        </a>

                        <a 
                            href="javascript: admin.setDates( 
                                '<%= @general_hoje.strftime("%Y-%m-01")  %>', 
                                '<%= @general_mes_ultimo.strftime("%Y-%m-%d") %>')" 
                            class="col-xs-3">   
                            
                            Mês atual
                        
                        </a>

                    </div>

                </div>

            </div>

            <div class="col-xs-12">
              <hr class="invisible" />
            </div>

            <div class="col-sm-12 col-xs-12">

                <div class="row">

                    <div class="col-sm-6 col-xs-12 drop-margin-top">
                        <button type="submit" class="btn btn-primary drop-btn col-xs-12">
                            Filtrar 
                        </button>
                    </div>

                    <div class="col-sm-2 col-xs-12 drop-margin-top">
                    
                    </div>

                </div>
            </div>

            <div class="col-xs-12">
              <hr class="invisible" />
            </div>


        </div>

    </form>

</div>


<div class="col-xs-12" >

    <div class="table-responsive">  
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Quantidade</th>
                    <th>Combustível R$ </th>
                    <th>Outros R$ </th>
                    <th>Total Geral R$ </th>  
                </tr>
            </thead>
            <tbody>
                <tr>  
                    <td><%=  @admin_invoices.total_entries %></td>
                    <td><%= grana( @soma_invoices_gasolina ) %></td>
                    <td><%= grana( @soma_invoices_outros ) %></td>
                    <td><%= grana( @soma_invoices_geral ) %></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<div class="table-responsive col-xs-12">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-xs-1">Código</th>
                <th>Data</th>
                <th>Anotação</th>
                <th>Vendedor</th>
                <th class="col-xs-1" >Valor R$ </th>
                <th class="col-xs-1" ></th>  
            </tr>
        </thead>
        <tbody>  

            <% @admin_invoices.each do |admin_invoice| %>
                <tr>
                    <td><%= admin_invoice.id %></td>

                    <td><%= admin_invoice.created_at.strftime("%d/%m/%Y - %H:%M")  %></td>

                    <td>
                        <%= admin_invoice.nome %> - 
                        <%= admin_invoice.obs %>
                    </td>

                    <td><%= admin_invoice.seller.nome %></td>

                    <td class="text-right" ><%= grana( admin_invoice.valor) %></td>

                    <td class="text-center" >

                        <%= link_to '', 
                            [:admin, admin_invoice],   
                            method: :delete, data: { confirm: 'Tem certeza?' },   
                            class: "btn btn-danger glyphicon glyphicon-remove"%>


                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>