<div class="page-header">
  <%= link_to admin_invoices_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New admin_invoice</h1>
</div>

<%= render 'form' %>
