<div class="page-header">
  <%= link_to admin_invoices_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_admin_invoice_path(@admin_invoice), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show admin_invoice</h1>
</div>

<dl class="dl-horizontal">
  <dt>Valor:</dt>
  <dd><%= @admin_invoice.valor %></dd>

  <dt>Description:</dt>
  <dd><%= @admin_invoice.description %></dd>

  <dt>Seller:</dt>
  <dd><%= @admin_invoice.seller %></dd>

</dl>
