
<div class="col-sm-12 col-xs-12 hidden--print">

    <form action="/admin/points/" method="get">

        <div class="row">


            <div class="col-xs-12 drop-margin-top">

                <div class="row">

                    <div class="col-sm-2 col-xs-6">  

                        <label for="ex1">Data Inicial:</label>

                        <input class="form-control text-center" value="<%= @data_inicial %>" name="data_inicial" type="date">   

                    </div>

                    <div class="col-sm-2 col-xs-6">

                        <label for="ex1">Data Final:</label>

                        <input class="form-control text-center" value="<%= @data_final %>" name="data_final" type="date">

                    </div> 
                    
                </div>




                <div class="row">

                    <div class="col-sm-8 col-xs-12 text-center">

                        <div class="col-xs-12"> 
                           <br>
                        </div>

                        
                        <a 
                            href="javascript: admin.setDates(
                                '<%= @general_hoje.strftime("%Y-%m-%d")  %>', 
                                '<%= @general_hoje.strftime("%Y-%m-%d")  %>')" 

                            class="col-xs-3">   
                           
                           Hoje
                        
                        </a>  

                        <a 
                            href="javascript: admin.setDates(
                                '<%= @general_semana_primeiro.strftime("%Y-%m-%d") %>', 
                                '<%= @general_semana_ultimo.strftime("%Y-%m-%d") %>')"   

                            class="col-xs-3"> 
                            
                            Semana atual
                        
                        </a>

                        <a 
                            href="javascript: admin.setDates( 
                                '<%= @general_semana_anterior_primeiro.strftime("%Y-%m-%d") %>', 
                                '<%= @general_semana_anterior_ultimo.strftime("%Y-%m-%d") %>')"   
                                
                            class="col-xs-3">   
                            
                            Semana anterior
                        
                        </a>

                        <a 
                            href="javascript: admin.setDates( 
                                '<%= @general_hoje.strftime("%Y-%m-01")  %>', 
                                '<%= @general_mes_ultimo.strftime("%Y-%m-%d") %>')" 
                            class="col-xs-3">   
                            
                            Mês atual
                        
                        </a>

                    </div>

                    <div class="col-xs-12" >
                        <br />
                    </div>

                </div>
                                

                <div class="row"> 
 

                    <div class="col-sm-4 col-xs-12">

                        <label for="ex1">Funcionário:</label>

                        <select class="form-control" id="" name="func_id" placeholder="Código Cupom">
                            
                            <option value="0">Todos</option>

                            <optgroup label="Vendedores">

                                <% @admin_sellers.each do |admin_seller| %>
                                    <option 
                                    
                                        <% if "vendedor--" + admin_seller.id.to_s == params[:func_id] %>
                                            selected
                                        <% end %>

                                        value="vendedor--<%= admin_seller.id %>"
                                    >       
                                        
                                        <%= admin_seller.nome %>

                                    </option>  

                                <% end %>

                            </optgroup>

                            <optgroup label="Ajudantes">  

                                <% @admin_assistants.each do |admin_assistant| %>
                                    <option 
                                    
                                        <% if "ajudante--" + admin_assistant.id.to_s == params[:func_id] %>
                                            selected
                                        <% end %>

                                        value="ajudante--<%= admin_assistant.id %>"
                                    >         
                                        
                                        <%= admin_assistant.nome %>

                                    </option>  

                                <% end %>

                            </optgroup>
                            
                        </select> 

                    </div>   
                    
                </div>


            </div>



            <div class="col-xs-12">
              <hr class="invisible" />
            </div>

            <div class="col-sm-12 col-xs-12">

                <div class="row">

                    <div class="col-sm-6 col-xs-6 drop-margin-top">
                        <button type="submit" class="btn btn-primary drop-btn col-xs-12">
                            Filtrar
                        </button>
                    </div>

                    <div class="col-sm-2 col-xs-6 drop-margin-top">
                    
                    </div>

                </div>
            </div>

            <div class="col-xs-12">
              <hr class="invisible" />
            </div>


        </div>

    </form>

</div>