<div class="page-header">

  <h1>Ponto</h1>  

</div>


<%= render 'search_form' %>


<div class="col-xs-12" >

    <div class="table-responsive">  
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center" >Quantidade</th>
                    <th class="text-center" >Custos das diárias dos ajudantes</th>
                </tr>
            </thead>
            <tbody>
                <tr>  
                    <td class="text-center col-xs-6" ><%= @admin_points.total_entries %></td>
                    <td class="text-center" ><%= grana( @soma_pagamento_diaria ) %></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<div class="table-responsive col-xs-12">
  <table class="table table-striped table-bordered table-hover">
    
    <thead>

      <tr>
        <th>Funcionário</th>
        <th class="col-xs-2" >Data e hora</th>
        <th class="col-xs-3 text-right" >Valor diária R$ </th>
      </tr>

    </thead>

    <tbody>
      <% @admin_points.each do |point| %>  

        <tr>
          <td>

            <% if point.seller_id != nil %>
              Vendedor:
              <%= point.seller.nome %>
            <% end %>

            <% if point.assistant_id != nil %>
              Ajudante:
              <%= point.assistant.nome %>
            <% end %>

          </td>
          <td>
            <%= point.created_at.strftime("%d/%m/%Y - %H:%M")  %>
          </td>

          <td class="text-right" >
            <%=  grana( point.pagamento_diaria ) %>
          </td>

        </tr>

      <% end %>
    </tbody>


  </table>
</div>
