<div class="login--container" >

  <div class="col-xs-12" >
    <hr class="invisible" />
  </div>


  <div class="col-xs-12 col-sm-4" ></div>

  <div class="col-xs-12 col-sm-4" >

    <h2>
      Faça login
    </h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field"> 
        <%= f.label :email, class: "col-sm-2 control-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label 'Senha', class: "col-sm-2 control-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div  >
        <hr class="invisible" />
      </div>

      <div class="actions">
        <%= f.submit "Entrar", class: "btn btn-primary col-xs-12" %>
      </div> 

      <div class="col-xs-12 text-center" >  
        <hr />
        <a href="/apps/<%= @general_site_path %>.apk">  
          Baixar Aplicativo  1.0
        </a>
      </div>

    <% end %>

    <% # render "devise/shared/links" %>

  </div>



</div>