

<div class="page-header">
  <h1>  
    Relatório por vendedor  
  </h1>    
</div>


<div class="col-sm-12 col-xs-12 hidden--print">

    <form action="/admin/reports/" method="get">

        <div class="row">  


            <div class="col-xs-12 drop-margin-top">

                <div class="row">

                    <div class="col-sm-2 col-xs-6">  

                        <label for="ex1">Data Inicial:</label>

                        <input class="form-control text-center" value="<%= @data_inicial %>" name="data_inicial" type="date">   

                    </div>

                    <div class="col-sm-2 col-xs-6">

                        <label for="ex1">Data Final:</label>

                        <input class="form-control text-center" value="<%= @data_final %>" name="data_final" type="date">

                    </div>
                    


                    <div class="col-sm-4 col-xs-12">

                        <label for="ex1">Vendedor:</label>

                        <select class="form-control" id="" name="seller_id" placeholder="Código Cupom">
                            
                            <option value="0">Todos</option>

                            <% @admin_sellers.each do |admin_seller| %>
                                <option 
                                
                                    <% if admin_seller.id.to_s == params[:seller_id] %>
                                        selected
                                    <% end %>  

                                    value="<%= admin_seller.id %>"
                                >       
                                    
                                    <%= admin_seller.nome %>

                                </option>
                            <% end %>
                            
                        </select> 

                    </div>  

                    
                </div>

                <div class="row">

                    <div class="col-sm-8 col-xs-12 text-center">

                        <div class="col-xs-12"> 
                           <br>
                        </div>

                        
                        <a 
                            href="javascript: admin.setDates(
                                '<%= @general_hoje.strftime("%Y-%m-%d")  %>', 
                                '<%= @general_hoje.strftime("%Y-%m-%d")  %>')" 

                            class="col-xs-3">   
                           
                           Hoje
                        
                        </a>  

                        <a 
                            href="javascript: admin.setDates(
                                '<%= @general_semana_primeiro.strftime("%Y-%m-%d") %>', 
                                '<%= @general_semana_ultimo.strftime("%Y-%m-%d") %>')"   

                            class="col-xs-3"> 
                            
                            Semana atual
                        
                        </a>

                        <a 
                            href="javascript: admin.setDates( 
                                '<%= @general_semana_anterior_primeiro.strftime("%Y-%m-%d") %>', 
                                '<%= @general_semana_anterior_ultimo.strftime("%Y-%m-%d") %>')"   
                                
                            class="col-xs-3">   
                            
                            Semana anterior
                        
                        </a>

                        <a 
                            href="javascript: admin.setDates( 
                                '<%= @general_hoje.strftime("%Y-%m-01")  %>', 
                                '<%= @general_mes_ultimo.strftime("%Y-%m-%d") %>')" 
                            class="col-xs-3">   
                            
                            Mês atual
                        
                        </a>

                    </div>

                </div>

            </div>

            <div class="col-xs-12">
              <hr class="invisible" />
            </div>

            <div class="col-sm-12 col-xs-12">

                <div class="row">

                    <div class="col-sm-6 col-xs-12 drop-margin-top">
                        <button type="submit" class="btn btn-primary drop-btn col-xs-12">
                            Filtrar 
                        </button>
                    </div>

                    <div class="col-sm-2 col-xs-12 drop-margin-top">
                    
                    </div>

                </div>
            </div>

            <div class="col-xs-12">
              <hr class="invisible" />
            </div>


        </div>

    </form>

</div>



<div class="table-responsive col-xs-12">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Vendedor</th>

                <th>Qtd vendidos</th>

                <th>Total</th>

                <th>Preço médio</th> 

                <th>CMV</th>

                <th>Diária</th>

                <th>Alimentação</th>

                <th>Combustível</th>

                <th>Outros</th>

                <th>Resultado</th>

            </tr>
        </thead>
        <tbody>  

            <% @sellers.each do |seller| %>
                <tr>

                    <td>
                    	<%= seller.nome %>
                	</td>

                    <td class="text-center" >
                    	<%= seller.qtd_entregas(@data_inicial, @data_final) %>
                	</td> 

                    <td class="text-right" >
                    	<%= grana(seller.sum_deliveries(@data_inicial, @data_final)) %>
                	</td>

                    <td class="text-center" >
                    	<%
                    	
                    	tmp_g = grana( 
                    	    seller.sum_deliveries(@data_inicial, @data_final) /   
                    	    seller.qtd_entregas(@data_inicial, @data_final)
                    	) 

                    	%>

                    	<%= grana(tmp_g.to_f) %>
                	</td> 

                    <td class="text-center" >
                        <%= grana(seller.sum_buys(@data_inicial, @data_final)) %>  
                    </td> 

                    <td class="text-right" >
                        <%= grana(seller.sum_points(@data_inicial, @data_final)) %>
                    </td>
                    
                    <td class="text-right" >
                    	<%= grana(seller.sum_invoices(@data_inicial, @data_final, 'Alimentacao')) %>
                    </td>

                    <td class="text-right" >
                    	<%= grana(seller.sum_invoices(@data_inicial, @data_final, 'Combustível')) %>
                    </td>

                    <td class="text-right" >
                    	<%= grana(seller.sum_invoices(@data_inicial, @data_final, 'Outros')) %>
                    </td>

                    <td class="text-right" >
                    	<strong>
                    	    <% 
                            
                            result = 
                              seller.sum_deliveries(@data_inicial, @data_final) - 
                              (
                                seller.sum_invoices(@data_inicial, @data_final, 0 ) + 
                                seller.sum_buys(@data_inicial, @data_final) +  
                                seller.sum_points(@data_inicial, @data_final)
                              )

                            %>

                            <%= grana( result ) %>
                    	</strong>
                	</td>

                </tr>
            <% end %>
        </tbody>
    </table>
</div>