<%= form_for([:admin, @admin_product], html: { class: "form-horizontal", role: "form" }) do |f| %>

    <% if @admin_product.errors.any? %>

        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4>
                <%= pluralize(@admin_product.errors.count, "error") %> ao salvar:
            </h4>
            <ul>
                <% @admin_product.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>

    <% end %>



    <div class="form-group">

        <div class="col-sm-8 col-xs-12" >
            <%= f.label :nome, class: "" %>
            <div>
                <%= f.text_field :nome, class: "form-control", :required => true %>
            </div>
        </div>

        <div class="col-sm-4 col-xs-12">

            <label for="ex1">Marca</label>

            <select class="form-control" id="" name="product[brand_id]" placeholder="Código Cupom">   

                <% @admin_brands.each do |admin_brand| %>
                    <option

                        value="<%= admin_brand.id %>"

                        <% if admin_brand.id == @admin_product.brand_id %>  
                            selected
                        <% end %>                    

                    > 

                        <%= admin_brand.nome %>     

                    </option>
                <% end %>

                
            </select> 

        </div>  

        <div class="col-xs-12">
            <hr class="invisible" />
        </div>


        <div class="col-sm-3 col-xs-12" >  

            <%= f.label "Preço de compra", class: "" %>
            
            <div>
                <%= 
                    f.text_field :preco_compra_1,  
                    :required => true, 
                    :placeholder => '0.00',
                    :value => number_to_currency( @admin_product.preco_compra_1 ), 
                    class: "form-control money" 
                %>
            </div>
            
        </div>

        <div class="col-sm-3 col-xs-12" >  

            <%= f.label "Preço de compra(desconto)", class: "" %>
            
            <div>
                <%= 
                    f.text_field :preco_compra_2, 
                    class: "form-control money", 
                    :value => number_to_currency( @admin_product.preco_compra_2 ), 
                    :required => true,   
                    :placeholder => '0.00'   
                %>
            </div>
            
        </div>


    </div>

    <div class="form-group hide">

        <div class="col-sm-3 col-xs-12" >  

            <%= f.label "Preço médio", class: "" %>
            
            <div>
                <%= 
                    f.text_field :preco_base,     
                    class: "form-control money",
                    :value => number_to_currency( @admin_product.preco_base ), 
                    :required => true, 
                    :placeholder => '0.00',
                    :value => '0.00'
                %>
            </div>
            
        </div>

    </div>

    <div class="form-group" >
       
        <fieldset class="col-xs-12">

            <legend class="scheduler-border">Vendedores para o produto</legend>

        </fieldset>

        <% @admin_sellers.each do |seller| %>
        <div class="col-xs-12 col-sm-4" >

            <div class="checkbox">  

                <%  

                    checked = ""

                    seller.product_seller.each do |s|

                        if s.product_id == @admin_product.id
                            checked = "checked"
                        end
                    end

                %>

                <label>
                    <input type="checkbox" <%= checked %> name="seller_id[]"  value="<%= seller.id %>">
                    <%= seller.nome %>    
                </label>
            </div>      

        </div>  
        <% end %> 

    </div>




    <div class="form-group">

        <fieldset >
            
            <div class="col-xs-12 col-xs-12" >
                <legend></legend>
            </div>

            <div class="col-xs-12 col-xs-12" >

                <%= f.label :descricao, class: "" %>

                <div class="">
                    <%= f.text_area :obs, class: "form-control" %>
                </div>            

            </div>            

        </fieldset>

    </div>



    <div class="form-group">
        <div>
            <%= f.submit "Salvar", class: "btn btn-primary col-xs-12" %>
        </div>
    </div>


<% end %>