<div class="page-header">
  <%= link_to new_admin_product_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
  <% end %>
  <h1>Produtos cadastrados</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-xs-1">Código</th>
        <th>Nome</th>
        <th>Marca</th>
        <th>Anotações</th>
        <th class="col-xs-2" ></th>
      </tr>
    </thead>

    <tbody>
      <% @admin_products.each do |admin_product| %>  
        <tr>
          <td><%= admin_product.id %></td>
          <td><%= admin_product.nome %></td>
          <td><%= admin_product.brand.nome %></td>  
          <td><%= admin_product.obs %></td>  

            <td class="text-center" >
                <% link_to '', admin_product_path(admin_product), class: "btn btn-default glyphicon glyphicon glyphicon-ok" %>
                <%= link_to '', edit_admin_product_path(admin_product), class: "btn btn-default glyphicon glyphicon-cog" %>
                <% link_to '', 
                    [:admin, admin_product], 
                    method: :delete, data: { confirm: 'Tem certeza?' },   
                    class: "btn btn-danger glyphicon glyphicon-remove"%>
            </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
