<div class="page-header">
  <%= link_to admin_products_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Cadastrar produto</h1>
</div>

<%= render 'form' %>
