<div class="page-header">
  <%= link_to admin_products_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_admin_product_path(@admin_product), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>
   Produto
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @admin_product.nome %></dd>

  <dt>Marca:</dt>
  <dd><%= @admin_product.brand.nome %></dd>

  <dt>Descricao:</dt>
  <dd><%= @admin_product.obs   %></dd>

  <dt>Preco:</dt>
  <dd><%= @admin_product.preco %></dd>

</dl>
