<div class="row">

	<div class="col-xs-12 col-sm-4 col-sm-offset-8" >
		

		<form action="" class="search-form">

		<div class="form-group has-feedback">
			<label for="search" class="sr-only">
			</label>
			<input type="text" class="form-control" value="<%= params[:q] %>" name="q" id="search" placeholder="Pesquisar">
			<span class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>

		</form>

	</div>

</div>

