<%= form_for(@admin_buy, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @admin_buy.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@admin_buy.errors.count, "error") %> prohibited this admin_buy from being saved:</h4>

      <ul>
      <% @admin_buy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :quantidade, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :quantidade, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :valor, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :valor, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :valor, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :valor, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :obs, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :obs, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :truck, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :truck, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :seller, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :seller, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :product, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :product, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
