
<div class="col-sm-12 col-xs-12 hidden--print">

    <form action="/admin/buys/" method="get">

        <div class="row">


            <div class="col-xs-12 drop-margin-top">

                <div class="row">

                    <div class="col-sm-2 col-xs-6">  

                        <label for="ex1">Data Inicial:</label>

                        <input class="form-control text-center" value="<%= @data_inicial %>" name="data_inicial" type="date">   

                    </div>

                    <div class="col-sm-2 col-xs-6">

                        <label for="ex1">Data Final:</label>

                        <input class="form-control text-center" value="<%= @data_final %>" name="data_final" type="date">

                    </div> 
                    
                </div>


                <div class="row">

                    <div class="col-sm-8 col-xs-12 text-center">

                        <div class="col-xs-12"> 
                           <br>
                        </div>

                        
                        <a 
                            href="javascript: admin.setDates(
                                '<%= @general_hoje.strftime("%Y-%m-%d")  %>', 
                                '<%= @general_hoje.strftime("%Y-%m-%d")  %>')" 

                            class="col-xs-3">   
                           
                           Hoje
                        
                        </a>  

                        <a 
                            href="javascript: admin.setDates(
                                '<%= @general_semana_primeiro.strftime("%Y-%m-%d") %>', 
                                '<%= @general_semana_ultimo.strftime("%Y-%m-%d") %>')"   

                            class="col-xs-3"> 
                            
                            Semana atual
                        
                        </a>

                        <a 
                            href="javascript: admin.setDates( 
                                '<%= @general_semana_anterior_primeiro.strftime("%Y-%m-%d") %>', 
                                '<%= @general_semana_anterior_ultimo.strftime("%Y-%m-%d") %>')"   
                                
                            class="col-xs-3">   
                            
                            Semana anterior
                        
                        </a>

                        <a 
                            href="javascript: admin.setDates( 
                                '<%= @general_hoje.strftime("%Y-%m-01")  %>', 
                                '<%= @general_mes_ultimo.strftime("%Y-%m-%d") %>')" 
                            class="col-xs-3">   
                            
                            Mês atual
                        
                        </a>

                    </div>

                    <div class="col-xs-12" >
                        <br />
                    </div>

                </div>
                                

                <div class="row"> 

                    <div class="col-sm-4 col-xs-12">

                        <label for="ex1">Caminhao:</label>

                        <select class="form-control" id="" name="truck_id" placeholder="Código Cupom">  
                            
                            <option value="0">Todos</option>

                            <% @admin_trucks.each do |admin_truck| %>
                                <option

                                    value="<%= admin_truck.id %>"

                                    <% if admin_truck.id.to_s == params[:truck_id] %>  
                                        selected
                                    <% end %>                    

                                > 

                                    <%= admin_truck.placa %>     

                                </option>
                            <% end %>

                            
                        </select> 

                    </div>  


                    <div class="col-sm-4 col-xs-12">

                        <label for="ex1">Vendedor:</label>

                        <select class="form-control" id="" name="seller_id" placeholder="Código Cupom">
                            
                            <option value="0">Todos</option>

                            <% @admin_sellers.each do |admin_seller| %>
                                <option 
                                
                                    <% if admin_seller.id.to_s == params[:seller_id] %>
                                        selected
                                    <% end %>

                                    value="<%= admin_seller.id %>"
                                >       
                                    
                                    <%= admin_seller.nome %>

                                </option>
                            <% end %>
                            
                        </select> 

                    </div>  


                    <div class="col-sm-4 col-xs-12">

                        <label for="ex1">Produto:</label>

                        <select class="form-control" id="" name="product_id" placeholder="Código Cupom">
                            
                            <option value="0">Todos</option>

                            <% @admin_products.each do |admin_product| %>
                                <option 
                                
                                    <% if admin_product.id.to_s == params[:product_id] %>
                                        selected
                                    <% end %>

                                    value="<%= admin_product.id %>"
                                >       
                                    
                                    <%= admin_product.nome %>

                                </option>
                            <% end %>
                            
                        </select> 

                    </div>  



                    <div class="col-sm-4 col-xs-12">

                        <label for="ex1">Marca:</label>

                        <select class="form-control" name="brand_id" >
                            
                            <option value="0">Todos</option>

                            <% @admin_brands.each do |admin_brand| %>
                                <option 
                                
                                    <% if admin_brand.id.to_s == params[:brand_id] %>
                                        selected
                                    <% end %>

                                    value="<%= admin_brand.id %>"
                                >       
                                    
                                    <%= admin_brand.nome %>  

                                </option>
                            <% end %>
                            
                        </select> 

                    </div>  

                    
                </div>


            </div>



            <div class="col-xs-12">
              <hr class="invisible" />
            </div>

            <div class="col-sm-12 col-xs-12">

                <div class="row">

                    <div class="col-sm-6 col-xs-6 drop-margin-top">
                        <button type="submit" class="btn btn-primary drop-btn col-xs-12">
                            Filtrar
                        </button>
                    </div>

                    <div class="col-sm-2 col-xs-6 drop-margin-top">
                    
                    </div>

                </div>
            </div>

            <div class="col-xs-12">
              <hr class="invisible" />
            </div>


        </div>

    </form>

</div>