<div class="page-header">  
    <h1>Compras</h1>  
</div>


<%= render 'search_form' %>

<div class="col-xs-12" >

    <div class="table-responsive">  
        <table class="table  table-hover">
            <thead>
                <tr>
                    <th class="col-xs-6" >Quantidade</th>
                    <th class="col-xs-6">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>  
                    <td><%= @soma_qtd %></td>
                    <td><%=  number_with_precision( @soma_buys, :precision => 2)  %></td>  
                </tr>
            </tbody>
        </table>
    </div>

</div>



<div class="col-xs-12" >

    <div class="table-responsive">  
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-xs-1" >Código</th>
                    <th>Quantidade</th>
                    <th>Detalhes</th>
                    <th>Caminhão</th>
                    <th>Vendedor</th>
                    <th>Produto</th>
                    <th>Valor</th>  
                    <th></th>    
                </tr>
            </thead>
            <tbody>
                <% @admin_buys.each do |admin_buy| %>
                <tr>  
                    <td><%= admin_buy.id %></td>
                    <td><%= admin_buy.quantidade %></td>

                    <td>
                        Data fonte: <%= date_br( admin_buy.created_at ) %>  <br />                              
                    </td>

                    <td><%= admin_buy.truck.placa %></td>
                    <td><%= admin_buy.seller.nome %></td>
                    <td><%= admin_buy.product.nome %></td>
                    <td class="text-right" >
                        <%= number_with_precision( admin_buy.valor, :precision => 2)  %>                            
                    </td>

                    <td class="text-right" >

                        <a 
                           class="btn btn-danger glyphicon glyphicon-remove" 
                           href="javascript: if ( confirm('Tem certeza?') ) {  
                               window.location.href = '/admin/buy/cancel_buy?buy_id=<%= admin_buy.id %>';     
                           } ">  
                            
                        </a>

                    </td>
                
                </tr>

                <% end %>
            </tbody>
        </table>
    </div>

</div>