<div class="page-header">
  <%= link_to admin_buys_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_admin_buy_path(@admin_buy), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show admin_buy</h1>
</div>

<dl class="dl-horizontal">
  <dt>Quantidade:</dt>
  <dd><%= @admin_buy.quantidade %></dd>

  <dt>Valor:</dt>
  <dd><%= @admin_buy.valor %></dd>

  <dt>Valor:</dt>
  <dd><%= @admin_buy.valor %></dd>

  <dt>Obs:</dt>
  <dd><%= @admin_buy.obs %></dd>

  <dt>Truck:</dt>
  <dd><%= @admin_buy.truck %></dd>

  <dt>Seller:</dt>
  <dd><%= @admin_buy.seller %></dd>

  <dt>Product:</dt>
  <dd><%= @admin_buy.product %></dd>

</dl>
